
.enc{
    grid-template-columns: 49% 49%;
    display: grid;
}
.contenido{
    display: grid;
    grid-template-columns: 49% 49%;
}
@media (max-width: 850px){
     .pag{
            display: grid;
        }

       
    .enc{
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        position: relative;
    }
    .botone{
        visibility:collapse;
    }
    .icon-menu{
        display: flex;
        visibility:visible;
        align-items: center;
        cursor: pointer;
        padding-left: 2rem
    }
    .contenido{
        display: grid;
        grid-template-columns: 100%;
        width: 100%;
    }
    .p2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

 
    .footer{
        display: flex;
        flex-direction: column;
        height: 30vh;     
        gap: 10%;
    }

    .ssd{
        display: flex;
        flex-direction: column;
    }
}




    .footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }

    .ssd{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
